<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Show up in "Open with" for DWG and DXF files from files, email and downloads -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/vnd.dwg" />
                <data android:mimeType="image/x-dwg" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="application/x-acad" />
                <data android:mimeType="application/dwg" />
                <data android:mimeType="application/x-dwg" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="image/x-dxf" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="application/x-dxf" />
            </intent-filter>

            <!-- Most file managers label CAD files as generic files; match those by the file name -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.dwg" />
                <data android:pathPattern=".*\\..*\\.dwg" />
                <data android:pathPattern=".*\\.DWG" />
                <data android:pathPattern=".*\\.dxf" />
                <data android:pathPattern=".*\\..*\\.dxf" />
                <data android:pathPattern=".*\\.DXF" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- "Share" from apps such as email, WhatsApp and Drive; non-CAD files get a clear error in the app -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/vnd.dwg" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
